# DB configs and ports


#jwt configuration
JWT_SECRET=ThisIsTopSecret
JWT_EXPIRATION=7d
RESET_PASSWORD_KEY=ThisIsForgetPassword


NODE_LOCAL_PORT=5000
NODE_DOCKER_PORT=5000

# you need to change localhost to you production server ip
REACT_APP_BACKEND_BASE_URL=http://0.0.0.0:${NODE_LOCAL_PORT}


# docker-compose
COMPOSE_PROJECT_NAME=setup
APP_NAME_BACKEND=setup-server
APP_NAME_FRONTEND=setup-client
APP_VERSION=1.0.0

HUB_URL=emadmhmd
